.estabelecimento-titulo {
    font-size: 2.2em;
    margin-bottom: 0.5em;
    padding: 0;
}

.estabelecimento-descricao {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.estabelecimento-endereco {
    font-size: 1.1em;
    color: #505050;
    
    margin: 0.5em 0 1em 0;
}

.estabelecimento-btn-avaliar {
    text-transform: uppercase;
    font-size: 1em;
    display: inline-block;
    padding: 0.5em 2em;
    background-color: #F4BC33;
    color: black;
    border-radius: 5px;
    border: 2px solid #CECECE;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.estabelecimento-disponibilidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}