.estabelecimento-titulo {
    font-size: 2.5em;
    margin-bottom: 0.2em;
    padding: 0;
}

.estabelecimento-descricao {
    font-size: 1.2em;
}

.estabelecimento-endereco {
    font-size: 1.2em;
    color: #3E3E3E;
}