.avaliacao-card {
    border: 1px solid #cecece62;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.25);
    margin: 1.5em 0.5em;
    width: 40%;
}

.avaliacao-card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.6em;
    justify-content: space-between;
}

.avaliacao-card-header h3 {
    font-size: 1.3em;
}

.avaliacao-card-descricao {
    font-size: 1em;
    color: #505050;
    margin-top: 1em;
}

.avaliacao-card-notas {
    font-size: 1em;
}

@media only screen and (max-width: 375px){

    .avaliacao-card {
        margin: 1em 0.5em;
        width: 85%;
        text-align: left;
    }    

    .avaliacao-card-header h3 {
        font-size: 1.1em;
    }

    .avaliacao-card-descricao {
        font-size: 0.9em;
        margin-top: 0.5em;
    }

    .avaliacao-card-notas {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 425px) and (min-width: 376px){

    .avaliacao-card {
        margin: 1em 0.5em;
        width: 90%;
        text-align: left;
    }    

    .avaliacao-card-header h3 {
        font-size: 1.2em;
    }

    .avaliacao-card-descricao {
        font-size: 0.9em;
        margin-top: 0.7em;
    }

    .avaliacao-card-notas {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px){

    .avaliacao-card {
        margin: 1em 0.5em;
        width: 70%;
        text-align: left;
    }    

    .avaliacao-card-header h3 {
        font-size: 1.3em;
    }

    .avaliacao-card-descricao {
        font-size: 1em;
        margin-top: 0.9em;
    }

    .avaliacao-card-notas {
        font-size: 0.9em;
    }
}
