.item-card {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    margin: 1em;
    align-items: center;
    justify-content: center;
    border: 1px solid #cecece62;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.25);
}

.item-card-imagem {
    width: 60%;
}

.item-card-legenda {
    text-transform: uppercase;
    padding: 0;
    margin: 1em 0 0 0;
}

@media only screen and (max-width: 375px){

    .item-card {
        width: 100px;
        height: 100px;
        margin: 0.5em 30%;
    }

    .item-card-imagem {
        width: 50%;
    }

    .item-card-legenda {
        margin: 0.4em 0 0 0;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 425px) and (min-width: 376px){

    .item-card {
        width: 120px;
        height: 120px;
        margin: 1em 45%;
    }

    .item-card-imagem {
        width: 50%;
    }

    .item-card-legenda {
        margin: 0.4em 0 0 0;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px){

    .item-card {
        width: 120px;
        height: 120px;
    }

    .item-card-imagem {
        width: 60%;
    }

    .item-card-legenda {
        margin: 0.4em 0 0 0;
        font-size: 0.9em;
    }
}